<app-navbar></app-navbar>
<main id="main">

  <!-- ======= Events Section ======= -->
  <section id="events" class="events">
    <section>
      <div class="row d-flex justify-content-center align-items-center h-50">
        <div class="col col-md-9 col-lg-7 col-xl-5">
          <div class="card-body p-4" style="margin-bottom: 35px;margin-top: 15px;border-radius: 20px">
            <div class="d-flex text-black">
              <div class="flex-grow-1 ms-3" style="text-align: center;margin-left: 20px;margin-top: 50px;">
                <h5 style="text-align: center" class="mb-1">{{name}}</h5>
              </div>
              <button routerLink="/change-avatar" mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Change avatar
                <mat-icon color="accent" matSuffix></mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container" data-aos="fade-up" style="margin-top: 15px">

    </div>
  </section><!-- End Events Section -->

</main><!-- End #main -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<app-footer></app-footer>
