<app-navbar></app-navbar>
<body>
<section class="restaurant-detailed-banner">
  <div class="text-center">
    <img class="img-fluid cover" src="{{product.avatar}}">
  </div>
  <div class="restaurant-detailed-header">
    <div class="container">
      <div class="row d-flex align-items-end">
        <div class="col-md-8">
          <div class="restaurant-detailed-header-left">
            <img class="img-fluid mr-3 float-left" alt="osahan" src="{{product.avatar}}">
            <h2 class="text-white"></h2>
            <p class="text-white mb-1"><i class="icofont-location-pin"></i>{{product.name}}
            </p>
            <p class="text-white mb-0"><i class="icofont-food-cart"></i>{{product.price}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
<app-footer></app-footer>
